In [2]:
import pandas as pd
import numpy as np

In [3]:
excel_file_path = 'C:/New Volume/project 2k24/project2k24/DataAnalysis_MOdel_traiining/potato/potato_dataset.xlsx'

# Read the Excel file into a DataFrame
data = pd.read_excel(excel_file_path)

In [4]:
#Getting the information about the email
data.head(5)

,Unnamed: 0,area,perimeter,red_mean,green_mean,blue_mean,f1,f2,red_std,green_std,blue_std,f4,f5,f6,f7,f8,label
0,0,36474.5,813.109733,37.394653,59.307648,44.181412,0.53,0.47,46.320815,61.767100,50.444602,3610.892186,64.356707,1.827657,1.722729,3.430396,0
1,1,36351.0,837.695520,37.277145,59.060135,44.010849,0.53,0.47,46.426011,61.979119,50.641852,3910.298188,67.945631,1.824181,1.729057,3.387626,0
2,2,36321.5,813.938159,37.130447,58.898544,43.798203,0.53,0.47,46.357759,61.993024,50.527950,3974.323395,68.466235,1.825050,1.731911,3.377332,0
3,3,36474.5,813.109733,37.401245,59.305542,44.181412,0.53,0.47,46.318668,61.767572,50.444666,3610.940066,64.357873,1.827633,1.722729,3.430391,0
4,4,129.5,47.556349,16.581757,24.742447,19.929443,0.22,0.78,39.205569,46.836955,42.953022,2236.038626,34.500579,2.839501,2.734300,3.433747,0

In [5]:
data.info()  #getting information about the number of  rows and columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5624 entries, 0 to 5623
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5624 non-null   int64
 1   area        5624 non-null   float64
 2   perimeter   5624 non-null   float64
 3   red_mean    5624 non-null   float64
 4   green_mean  5624 non-null   float64
 5   blue_mean   5624 non-null   float64
 6   f1          5624 non-null   float64
 7   f2          5624 non-null   float64
 8   red_std     5624 non-null   float64
 9   green_std   5624 non-null   float64
 10  blue_std    5624 non-null   float64
 11  f4          5624 non-null   float64
 12  f5          5624 non-null   float64
 13  f6          5624 non-null   float64
 14  f7          5624 non-null   float64
 15  f8          5624 non-null   float64
 16  label       5624 non-null   int64
dtypes: float64(15), int64(2)
memory usage: 747.1 KB

In [6]:
data.tail(2)

,Unnamed: 0,area,perimeter,red_mean,green_mean,blue_mean,f1,f2,red_std,green_std,blue_std,f4,f5,f6,f7,f8,label
5622,5622,28593.0,1002.984843,20.084274,27.970352,28.44899,0.14,0.86,32.468568,40.787746,40.909737,1515.799571,34.571873,2.424358,2.198917,3.515165,2
5623,5623,28593.0,1002.984843,20.083817,27.971344,28.44989,0.14,0.86,32.470295,40.789089,40.910031,1515.859859,34.572672,2.424341,2.198916,3.515146,2

In [7]:
X = data.iloc[:, 1:-1]  # Features
y = data.iloc[:, -1]    # Labels

In [12]:
X

,area,perimeter,red_mean,green_mean,blue_mean,f1,f2,red_std,green_std,blue_std,f4,f5,f6,f7,f8
0,36474.5,813.109733,37.394653,59.307648,44.181412,0.53,0.47,46.320815,61.767100,50.444602,3610.892186,64.356707,1.827657,1.722729,3.430396
1,36351.0,837.695520,37.277145,59.060135,44.010849,0.53,0.47,46.426011,61.979119,50.641852,3910.298188,67.945631,1.824181,1.729057,3.387626
2,36321.5,813.938159,37.130447,58.898544,43.798203,0.53,0.47,46.357759,61.993024,50.527950,3974.323395,68.466235,1.825050,1.731911,3.377332
3,36474.5,813.109733,37.401245,59.305542,44.181412,0.53,0.47,46.318668,61.767572,50.444666,3610.940066,64.357873,1.827633,1.722729,3.430391
4,129.5,47.556349,16.581757,24.742447,19.929443,0.22,0.78,39.205569,46.836955,42.953022,2236.038626,34.500579,2.839501,2.734300,3.433747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5619,38547.0,860.156416,49.839661,69.484283,61.218430,0.43,0.57,51.124322,64.201756,58.238985,2771.748201,54.346112,1.766260,1.602244,3.621733
5620,38547.0,860.156416,49.840118,69.484268,61.217728,0.43,0.57,51.125364,64.202710,58.238223,2771.771868,54.345437,1.766290,1.602244,3.621729
5621,28591.0,1002.984842,20.073318,27.968018,28.444748,0.14,0.86,32.470542,40.789609,40.909272,1515.776631,34.564354,2.424522,2.199039,3.515169
5622,28593.0,1002.984843,20.084274,27.970352,28.448990,0.14,0.86,32.468568,40.787746,40.909737,1515.799571,34.571873,2.424358,2.198917,3.515165
5623,28593.0,1002.984843,20.083817,27.971344,28.449890,0.14,0.86,32.470295,40.789089,40.910031,1515.859859,34.572672,2.424341,2.198916,3.515146

In [8]:
X_train = X.iloc[:4500]
y_train = y.iloc[:4500]
X_test = X.iloc[4500:]
y_test = y.iloc[4500:]

In [15]:
y_train

0       0
1       0
2       0
3       0
4       0
       ..
4495    2
4496    2
4497    2
4498    2
4499    2
Name: label, Length: 4500, dtype: int64

In [13]:
X_train

,area,perimeter,red_mean,green_mean,blue_mean,f1,f2,red_std,green_std,blue_std,f4,f5,f6,f7,f8
0,36474.5,813.109733,37.394653,59.307648,44.181412,0.53,0.47,46.320815,61.767100,50.444602,3610.892186,64.356707,1.827657,1.722729,3.430396
1,36351.0,837.695520,37.277145,59.060135,44.010849,0.53,0.47,46.426011,61.979119,50.641852,3910.298188,67.945631,1.824181,1.729057,3.387626
2,36321.5,813.938159,37.130447,58.898544,43.798203,0.53,0.47,46.357759,61.993024,50.527950,3974.323395,68.466235,1.825050,1.731911,3.377332
3,36474.5,813.109733,37.401245,59.305542,44.181412,0.53,0.47,46.318668,61.767572,50.444666,3610.940066,64.357873,1.827633,1.722729,3.430391
4,129.5,47.556349,16.581757,24.742447,19.929443,0.22,0.78,39.205569,46.836955,42.953022,2236.038626,34.500579,2.839501,2.734300,3.433747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,49781.0,946.391916,96.887054,110.613510,96.154404,0.47,0.53,60.221704,66.351581,58.638921,1235.053810,35.595337,1.297505,0.987467,3.842657
4496,49781.0,946.391916,96.886810,110.614914,96.155228,0.47,0.53,60.221443,66.352226,58.639504,1235.053810,35.595337,1.297505,0.987467,3.842657
4497,38472.5,1297.938160,48.497894,69.274750,60.604980,0.43,0.57,49.253789,61.564685,55.658395,2242.570283,47.722496,1.754473,1.588498,3.664785
4498,38472.5,1297.938160,48.496719,69.273972,60.605133,0.43,0.57,49.253497,61.564247,55.658716,2242.569393,47.722619,1.754485,1.588498,3.664785
4499,37649.0,905.185853,44.044662,56.725494,45.228989,0.37,0.63,46.014841,53.600801,45.428634,1503.912084,37.917298,1.901292,1.655885,3.693155

In [16]:
class NaiveBayesClassifier:
    def __init__(self, alpha=1):
        self.alpha = alpha
        self.priors = {}
        self.likelihoods = {}

    def fit(self, X, y):
        self.priors = y.value_counts(normalize=True).to_dict()

        total_counts_per_class = X.groupby(y).sum()
        total_counts_per_class += self.alpha 
        total_word_counts = total_counts_per_class.sum(axis=1)
        self.likelihoods = np.log(total_counts_per_class.div(total_word_counts, axis=0))

    def predict(self, X):
        predictions = []
        for _, row in X.iterrows():
            class_probs = {}
            for class_label, prior in self.priors.items():
                likelihood = self.likelihoods.loc[class_label]
                log_prob = (row * likelihood).sum() + np.log(prior)
                class_probs[class_label] = log_prob
            predictions.append(max(class_probs, key=class_probs.get))
        return predictions

In [17]:
# Experiment with different values of alpha
alphas = [ 0.1]
best_accuracy = 0
best_alpha = 0

In [18]:

for alpha in alphas:
    classifier = NaiveBayesClassifier(alpha=alpha)
    classifier.fit(X_train, y_train)
    predictions = classifier.predict(X_test)
    accuracy = (predictions == y_test).mean()
    print("Accuracy with NAivebayes {:.2f}%".format(accuracy*100))
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_alpha = alpha

Accuracy with NAivebayes 74.56%